{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
    <!-- 폼태그는 action 어디로 보낼지, method 어떻게 보낼지 의 조합으로 이루어짐 그리고 이게 컨트롤러(ArticleController)에서 postmapping의 url 주소로 받는다 -->
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
        <!-- dto와 같은 필드명과 동일한 이름을 name 속성값에 넣어야 title, content 이 두개의 데이터가 dto로 연결이 되어서 전달됨-->
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
        <!-- 여기도 -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>layouts/footer}}